<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">

      <ion-title class="ion-text-center">
        PDV: {{pv}}
      </ion-title>
      <ion-button (click)="regresar()" expand="block" fill="clear" shape="round">
        Regresar
      </ion-button>
    </ion-item>

  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">


  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card >
          <form [formGroup]="simForm" (ngSubmit)="buscar()" class="form" action="">
            <ion-item-group>

              <!-- <ion-item-divider>
                <ion-icon color="primary" slot="start" name="search"></ion-icon>
                <ion-label position="inline">Punto de venta</ion-label>
              </ion-item-divider> -->

              <ion-item-divider>
                <ion-input [(ngModel)]="num_sim" required formControlName="num_sim" placeholder="Ingresa ultimos 5 digitos" maxlength="5"  >
                </ion-input>
                <ion-button [disabled]="!simForm.valid" type="submit" expand="block" shape="round">
                  Buscar
                </ion-button>




              </ion-item-divider>

            </ion-item-group>
          </form>

          
          <ion-button (click)="scan()" expand="block"   shape="round">
            Scan
           </ion-button>

        </ion-card>

      </ion-col>
      
    </ion-row>
  </ion-grid>







  <ion-grid fixed>
    <ion-row>
      <ion-col size="6"><ion-button (click)="att()" expand="block" shape="round">
          <b>AT&T</b>
        </ion-button></ion-col>
      <ion-col size="6"><ion-button (click)="bait()" expand="block" shape="round">
          <b>BAIT</b>
        </ion-button></ion-col>
      <ion-col size="6"><ion-button (click)="movistar()" expand="block" shape="round">
          <b>MOVISTAR</b>
        </ion-button></ion-col>
      <ion-col size="6"><ion-button (click)="unefon()" expand="block" shape="round">
          <b>UNEFON</b>
        </ion-button></ion-col>
    </ion-row>
  </ion-grid>


  





  <ion-grid *ngIf="sims" fixed>
    <ion-row *ngFor="let data of sims">
      <ion-col size="12">

        <ion-item lines="none">



          <ion-card>

            
            <ion-label>ICC: <b>{{data.ICCI}}</b></ion-label>

            <ion-label>DN: <b>{{data.DN}}</b></ion-label>

            <ion-label>COMPAÑIA: <b>{{data.COMPANIA}}</b></ion-label>
              
            
            
   
          
          </ion-card>

            <ion-button (click)="vender(data.ICCI, data.DN, data.COMPANIA)" expand="block" shape="round">
            Asignar
          </ion-button>   



        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>








</ion-content>