<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">

      <ion-title class="ion-text-center">
        Listado
      </ion-title>
      <ion-button (click)="salir()" expand="block" fill="clear" shape="round">
        Salir
      </ion-button>
    </ion-item>

  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">




  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-item lines="none">
            <ion-label>
              <!-- <b>ID Actividad:</b> {{item.idActividad}} <br> -->
              <ion-item color="tertiary">
                <ion-label text-wrap class="ion-text-center">
                  <h1>Sim: 1</h1>
                </ion-label>
              </ion-item>
              <b>Número de activación:</b>
              <ion-text color="primary">12345</ion-text> <br>
              <b>Compañia:</b>
              <ion-text color="primary">AT&T</ion-text> <br>
              <!-- <b>Progreso:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Estatus:</b> <ion-text color="primary">55 </ion-text><br>
              <b>Impacto:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Entregable:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Fecha Inicio:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Fecha Fin:</b> <ion-text color="primary">55</ion-text> <br> -->
            </ion-label>

            <ion-button (click)="editar()" expand="block"  shape="round">
              Editar
            </ion-button>
            
          </ion-item>

        </ion-card>
      </ion-col>


      <ion-col size="12">
        <ion-card>
          <ion-item lines="none">
            <ion-label>
              <!-- <b>ID Actividad:</b> {{item.idActividad}} <br> -->
              <ion-item color="tertiary">
                <ion-label text-wrap class="ion-text-center">
                  <h1>Sim: 2</h1>
                </ion-label>
              </ion-item>
              <b>Número de activación:</b>
              <ion-text color="primary">123456</ion-text> <br>
              <b>Compañia:</b>
              <ion-text color="primary">Movistar</ion-text> <br>
              <!-- <b>Progreso:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Estatus:</b> <ion-text color="primary">55 </ion-text><br>
              <b>Impacto:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Entregable:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Fecha Inicio:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Fecha Fin:</b> <ion-text color="primary">55</ion-text> <br> -->
            </ion-label>

            <ion-button (click)="editar()" expand="block"  shape="round">
              Editar
            </ion-button>
          </ion-item>

        </ion-card>
      </ion-col>



      <ion-col size="12">
        <ion-card>
          <ion-item lines="none">
            <ion-label>
              <!-- <b>ID Actividad:</b> {{item.idActividad}} <br> -->
              <ion-item color="tertiary">
                <ion-label text-wrap class="ion-text-center">
                  <h1>Sim: 3</h1>
                </ion-label>
              </ion-item>
              <b>Número de activación:</b>
              <ion-text color="primary">1234567</ion-text> <br>
              <b>Compañia:</b>
              <ion-text color="primary">Telcel</ion-text> <br>
              <!-- <b>Progreso:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Estatus:</b> <ion-text color="primary">55 </ion-text><br>
              <b>Impacto:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Entregable:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Fecha Inicio:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Fecha Fin:</b> <ion-text color="primary">55</ion-text> <br> -->
            </ion-label>
            <ion-button (click)="editar()" expand="block"  shape="round">
              Editar
            </ion-button>
          </ion-item>

        </ion-card>
      </ion-col>


      

      
      <ion-col size="12">
        <ion-card>
          <ion-item lines="none">
            <ion-label>
              <!-- <b>ID Actividad:</b> {{item.idActividad}} <br> -->
              <ion-item color="tertiary">
                <ion-label text-wrap class="ion-text-center">
                  <h1>Sim: 4</h1>
                </ion-label>
              </ion-item>
              <b>Número de activación:</b>
              <ion-text color="primary">12345678</ion-text> <br>
              <b>Compañia:</b>
              <ion-text color="primary">Telcel</ion-text> <br>
              <!-- <b>Progreso:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Estatus:</b> <ion-text color="primary">55 </ion-text><br>
              <b>Impacto:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Entregable:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Fecha Inicio:</b> <ion-text color="primary">55</ion-text> <br>
              <b>Fecha Fin:</b> <ion-text color="primary">55</ion-text> <br> -->
            </ion-label>

            <ion-button (click)="editar()" expand="block"  shape="round">
              Editar
            </ion-button>
          </ion-item>

        </ion-card>
      </ion-col>



      



    </ion-row>
  </ion-grid>





</ion-content>