<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">

      <ion-title class="ion-text-center">
        Bienvenido: {{this.nombre_global}}
      </ion-title>
      <ion-button (click)="salir()" expand="block" fill="clear" shape="round">
        Salir
      </ion-button>
    </ion-item>

  </ion-toolbar>


</ion-header>


<ion-content>

    <ion-grid>
      <ion-row *ngFor="let item of data">

        <ion-col size="8">
          <ion-card>
            
          <ion-label color="dark"><b>Nombre: </b></ion-label>{{item.nombre}}
           <ion-label color="dark"><b>Compañia: </b></ion-label>{{item.compania}}<br>     
          <ion-label color="dark"><b>Lote: </b></ion-label>{{item.lote}} 
          <ion-label color="dark"><b>SIM: </b></ion-label>{{item.sim}}<br>

          <ion-label color="dark"><b>Clave de activacion: </b></ion-label>{{item.c_activacion}}<br>
      
          <ion-button (click)="editar(item.sim)" expand="block" shape="round">
            Editar
          </ion-button>
        
      <!--      <ion-label color="dark"><b>Inc. retencion: </b></ion-label>{{item.INCREMENTA_RETENCION}}<br>
        <ion-label color="dark"><b>Inc. ARPU: </b></ion-label>{{item.INCREMENTA_ARPU}} 
          <ion-label color="dark"><b>Impacto: </b></ion-label>{{item.IMPACTO}}<br>

          
          <ion-label color="dark"><b>Dec. costos: </b></ion-label>{{item.DECREMENTA_COSTOS}}
          <ion-label color="dark"><b>Cumplimiento regulatorio: </b></ion-label>{{item.CUMPLIMIENTO_REGULATORIO}}<br>
          <ion-label color="dark"><b>Construccion de: </b></ion-label>{{item.F_INICIO_CONSTRUCCION}}
          <ion-label color="dark"><b>a: </b></ion-label>{{item.F_FIN_CONSTRUCCION}}<br>
          <ion-label color="dark"><b>Inicio UAT: </b></ion-label>{{item.F_INICIO_PRUEBAS_UAT}}
          <ion-label color="dark"><b>a: </b></ion-label>{{item.F_FIN_PRUEBAS_UAT}}<br>

          <ion-label color="dark"><b>Go Live: </b></ion-label>{{item.F_INICIO_GO_LIVE}}<br> -->
        </ion-card>
        </ion-col>

        <!-- <ion-col size="6">
          <ion-list>
            <ion-radio-group (ionChange)="cambiar($event,item.idProject)">
              <ion-list-header>
                <ion-label class="ion-text-center">
                  Respuestas
                </ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Aprobar</ion-label>
                <ion-radio value="Aprobar" color="success"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No Aprobar</ion-label>
                <ion-radio value="No Aprobar" color="danger"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-item>
              <ion-label>Comentarios:</ion-label>
              <ion-input [(ngModel)]="item.comentarios" value=""></ion-input>
            </ion-item>

    
          </ion-list>            
        </ion-col> -->
      </ion-row>     
    </ion-grid>

</ion-content>