
  ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  
  
  
  ion-content{
    --ion-background-color: linear-gradient( #9198e5,#0837b9);
  
  }
  
  ion-card{
    margin: auto;
    width: 100%;
    // border: 1px solid rgb(223, 8, 8);
    padding: 10px;
  
    --ion-background-color:  rgba(255, 255, 255, 0.877);
  }

  
  

  ion-label{

    --color: #000;

  }

